<div class="OpeningHours">
    <div class="panel panel-default">
        <div class="panel-heading">
            <localize key="openingHours_holidayTitle">Holiday opening hours</localize>
        </div>
        <div class="panel-body">
            <table class="table table-condensed week-days-table" ng-show="value.length > 0">
                <tbody>
                    <tr ng-repeat="holiday in value">
                        <td class="text-col">
                            <input type="text" ng-model="holiday.label" placeholder="I.e. 'Christmas Day'" class="umb-editor umb-textstring" />
                        </td>
                        <td class="date-col" ng-if="config.requireHolidayDates">
                            <oh-date-picker model="holiday.date" />
                        </td>
                        <td class="time-col">
                            <span ng-show="holiday.items.length > 0">
                                <span ng-repeat="item in holiday.items">
                                    <span ng-show="$index > 0"><localize key="openingHours_and">and</localize></span>
                                    <span class="time-item">
                                        <localize key="openingHours_from">from</localize>
                                        <select ng-model="item.opens"><option ng-repeat="val in times">{{val}}</option></select>
                                        <localize key="openingHours_to">to</localize>
                                        <select ng-model="item.closes">
                                            <option ng-repeat="val in times">{{val}}</option>
                                        </select>
                                        <a href="#" class="remove-time" prevent-default ng-click="removeItem(holiday, $index)"><i class="icon-delete"></i></a>
                                    </span>
                                </span>
                                <a href="#" class="add-time" prevent-default ng-click="addItem(holiday)" ng-show="config.maxTimeSlots == 0 || holiday.items.length < config.maxTimeSlots"><i class="icon-add"></i></a>
                            </span>
                            <span ng-show="holiday.items.length == 0">
                                <localize key="openingHours_closed">Closed</localize>.
                                <a href="#" class="add-time" prevent-default ng-click="addItem(holiday)">
                                    <localize key="openingHours_addOpeningHours">Add opening hours</localize>
                                    <i class="icon-add"></i>
                                </a>
                            </span>
                        </td>
                        <td class="delete-col">
                            <a ng-click="removeDay($index);"><i class="icon icon-delete"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="usky-grid" style="text-align: center;">
                <div ng-show="model.value.holidays.length == 0" style="padding: 10px 0;">
                    <div class="help-text">
                        <localize key="openingHours_addHoliday"></localize>
                    </div>
                </div>
                <a class="iconBox btn-add-opening-hours" ng-click="appendDay();"><i class=" icon icon-add" title="Add" localize="title"></i></a>
            </div>
        </div>
    </div>
</div>