<div ng-controller="openingHours.controllers.HolidayOpeningHoursController">

    <div class="panel panel-default">
        <div>
            <table class="table table-condensed week-days-table" ng-show="model.data.holidays.length > 0">
                <thead>
                <tr>
                    <th></th>
                    <th><localize key="openingHours_text">Text</localize></th>
                    <th ng-if="requireHolidayDates"><localize key="openingHours_date">Date</localize></th>
                    <th><localize key="openingHours_opens">Opens</localize></th>
                    <th><localize key="openingHours_closes">Closes</localize></th>
                    <th></th>
                </tr>
                </thead>
                <tbody> 
                <tr ng-repeat="holiday in model.data.holidays">
                    <td class="checkbox-col">
                        <input type="checkbox" ng-model="holiday.isOpen"/>
                    </td>
                    <td class="text-col">
                        <input type="text" ng-model="holiday.label" placeholder="I.e. 'Christmas Day'" class="umb-editor umb-textstring"/>
                    </td>
                    <td class="date-col" ng-if="requireHolidayDates">
                        <umb-editor model="holiday.date"></umb-editor>
                    </td>
                    <td class="time-col">
                        <div class="closed-overlay" ng-hide="holiday.isOpen"></div>
                        <oh-time-picker model="holiday.opens"></oh-time-picker>
                    </td>
                    <td class="time-col">
                        <div class="closed-overlay" ng-hide="holiday.isOpen"></div> 
                        <oh-time-picker model="holiday.closes"></oh-time-picker>
                    </td>
                    <td class="delete-col">
                        <a ng-click="deleteHolidayDay(holiday);"><i class="icon icon-delete"></i></a>
                        <oh-submit-watcher active-submit-watcher="$parent.activeSubmitWatcher" load-callback="$parent.submitWatcherOnLoad" submit-callback="$parent.submitWatcherOnSubmit"></oh-submit-watcher>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="usky-grid" style="text-align: center;">
                <div ng-show="model.data.holidays.length == 0" style="padding: 10px 0;">
                    <div class="help-text">
                        <localize key="openingHours_addHoliday"></localize>
                    </div>
                </div> 

                <a class="iconBox btn-add-opening-hours" ng-click="createHolidayDay();"><i class=" icon icon-add" title="Add" localize="title"></i></a>
            </div>
        </div>
    </div>

</div>
